.DS_Store
.Rhistory
.RData
.Rproj.user
*.Rcheck
*.tar.gz
Rplots.pdf
Rlib/
results/
!benchmarks/
!benchmarks/**/
!benchmarks/**/results/
!benchmarks/**/results/**/
!benchmarks/**/results/*.csv
!benchmarks/**/results/**/*.csv
!benchmarks/**/results/**/*.tsv
!benchmarks/**/results/**/*.txt
!benchmarks/**/results/**/*.pdf
!benchmarks/**/results/**/*.png
data/
*.rds
*.rda
*.h5
*.h5ad
*.loom
src/*.o
src/*.so
src/*.dll
src/*.dylib
