useDynLib(CellChatAccelRcpp, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom(methods, slot)
export(computeCommunProbAccelRcpp)
export(computeCommunProbPathwayAccelRcpp)
export(aggregateNetAccelRcpp)
export(computeAveExprAccelRcpp)
